
.thumbnail-container{
    display: flex;

    .thumbnail:hover{
        cursor: pointer;
        transform: scale(1.4);
    }
    .thumbnail{
        padding: 0.5rem;
    }
}
.info-box-big{
    display: flex;
    flex-direction: column;
    font-family: AdihausDIN;
    .category-big{

    }
    .title-big{
        color: #583e58;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 900;
    }
    .price-big{
        font-size: 15px;
        font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        color: rgb(170, 124, 39);
    }
    .description-big,.category-big{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 12px;
        color: rgb(71, 42, 42);
    }
    .bag{
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        font-size: 25px;
        color: green;
    }
}