<div mat-icon-button [matMenuTriggerFor]="appMenu" class="nav-link bag">
    <span *ngIf="itemsCount" >
    <mat-icon matBadge="{{itemsCount}}" matBadgeColor="warn">shopping_cart</mat-icon>
    </span>
</div>
<mat-menu #appMenu="matMenu" >
    <div class="container">
        <app-small-product-viewer *ngFor="let cartProduct of cart" [cartProduct]="cartProduct"
        (removeProduct)="removeProduct($event)"
        >
        </app-small-product-viewer>
        <p>Total {{totalPrice}}</p>
    </div>
        
</mat-menu>