nav{
    .placeholder{
        padding: 80px;
    }
    .fixed{
        position: fixed;
        width:100%;
        z-index: 50;
     
        .nav-top{
            
            display: flex;
            justify-content: space-between;

            background-image: linear-gradient(to right,#f3df2b, #5b5281,#0d081f ,#2e2944);
            padding-right: 100px;
            text-transform: uppercase;
            font-weight: 900;
            align-items: center;
            font-size: 11px;
            color: #f0f1e6;
            background-color:#4e4968d8;
            margin: 0px;
            ul{
                li:hover{
                    cursor: pointer;
                }
             
                display: flex;
                .bag,.likes{
                    font-size: 15px;
                }
            }
            
            .logo{
                padding:10px 100px;
                color: #f0f1e6;
                justify-content: flex-start;
                font-size: 60px;
            }
            
        }
   
        .nav-bottom{
            
            padding: 15px;
            background-color:#0a090cd8  ;
            color: white;   
        }
    }

}