<app-auth-redirector url='/login'></app-auth-redirector>

<p class="text text-big">
  LOGIN
</p>
<div class="row">
  <div class="col-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="login-form">

        <span *ngIf="response && !response.success">
          <mat-error class="col-12 validation error">{{response.errors|uppercase}}</mat-error>
        </span>
        <mat-form-field class="col-12">
          <input id="email" matInput type="email" placeholder="EMAIL ADDRESS *" formControlName="email" color="green">

        </mat-form-field>
        <span *ngIf="submited && loginForm.controls.email.invalid" class="">
          <mat-error class="col-12 validation error">PLEASE ENTER A VALID EMAIL ADDRESS</mat-error>
        </span>


        <mat-form-field class="col-12">
          <input id="password" matInput type="password" placeholder="PASSWORD" formControlName="password">
        </mat-form-field>
        <span *ngIf="submited &&  loginForm.controls.password.invalid">
          <span *ngIf="loginForm.controls.password.errors.required">
            <mat-error class="col-12 validation ">PLEASE ENTER A PASSWORD</mat-error>
          </span>
          <span *ngIf="loginForm.controls.password.errors.minlength">
            <mat-error class="col-12 validation error">PASSWORD IS TOO SHORT</mat-error>
          </span>

          <span *ngIf="loginForm.controls.password.errors.maxlength">
            <mat-error class="col-12 validation error">PASSWORD IS TOO LONG</mat-error>
          </span>
        </span>

        <button mat-raised-button class="col-12 text btn login-btn" type="submit" (click)="clicked()"><span>LOG IN
          </span>
          <mat-icon class="icon"> arrow_forward_ios</mat-icon>
        </button>

      </div>
    </form>
  </div>

  <div class="col-4">
    <p class="text">
      Don't have an account ?
    </p>
    <a routerLink="/register" mat-raised-button (click)="updateName()" class="col-12 text btn register-btn">
      <span>Register Now</span>
      <mat-icon class="icon"> arrow_forward_ios</mat-icon>

    </a>
  </div>