@import "variables";

.title-big {
    font-size: 20px;
}

.title-med{
    font-size: 12px;
}

.title-sml{
    font-size: 10px;
}

.price-big{
    font-size: 12px;
}

.price-med{
    font-size: 10px;
}

.price-sml{
    font-size: 9px;
}
.description-big{
    font-size: 12px;

}