  <div class="row product">
    <div class="col-4">
      <img src="{{imageUrl}}">
    </div>
    <div class="col-4">
      <p class="title justify-self-end">
        <app-product-title class="title-big"title="{{cartProduct.product.title}}" class="title-sml"></app-product-title>
      </p>
      <div class="justify-self-end">
        <div class="row price-big">
          <app-product-price class=" col-6" price="{{cartProduct.product.price}}"></app-product-price> 
          <app-price-multiplier class="col-6" multiple="{{cartProduct.count}}"></app-price-multiplier>
        </div>
      </div>
    </div>
    <div class="col-2">
      
      <button mat-button class="remove" (click)="remove($event);"><mat-icon color="warn">delete_sweep</mat-icon></button>

    </div>
  </div>
  <hr style="border: 1px solid rgb(108, 108, 114);" />