@import"product";
.product-info ,.remove-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end !important;
    flex-direction: column;

       
}
.remove{
    padding: 0px;
    margin:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}